body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Cabeçalho início */
header nav .menu-principal ul {
    display: flex;
    align-items: center;
}

header .menu-principal ul a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: #9c0000;
    font-size: x-large;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    height: fit-content;
}



header img {
    float: left;
    width: 60px;
    margin-left: 25px;
}

.menu-principal {
    float: left;
}

.menu-principal ul li {
    margin-left: 20px;
    list-style-type: none;
}
header #menuToggle {
    display: none;
}

header #userToggle {
    display: none;
}

/* Cabeçalho fim */

/* Menu Lateral Início */
aside {
    width: 250px;
    float: left;
    background-color: #808080;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
    vertical-align: center;
    top: 0px;
    left: 0px;

}


body aside ul li a {
    text-decoration: none;
    color: inherit;

}

body aside ul li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #9c0000;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: black;
}

.categorias {
    margin-right: 30px;
}

.botaook {
    margin-top: 20px;
}
.user 
/* Menu Lateral Fim */

/* Main */
main {
    margin-left: 250px;
    max-width: 100%;
}

h1 {
    text-align: center;
}

.banner {
    display: block;
    width: 100%;
    height: 400px;
}

.botbanner a {
    text-decoration: none;
    color: #9c0000;
}

.botbanner a:hover {
    color: white;
    background-color: #9c0000;
}

.botbanner:hover {
    border-color: wheat;
    color: white;
    background-color: #9c0000;
}

.botbanner {
    color: #9c0000;
    width: 130px;
    height: 40px;
    z-index: 5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(168, 164, 164);
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 350px;
    left: 280px;
}



h2 {
    color: #9c0000;
    margin-left: 15px;
    text-align: left;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: block;
}

h3 {
    color: #808080;
    padding-left: 10px;
    font-size: 25px;
}

/* Container Destaque */
.container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: top;
    max-width: 100%;

}

.container img {
    display: block;
    max-width: 100%;
}

.container>div {
    flex: 1 1 200px;
    padding: 10px;
    gap: 10px;
}

main section p {
    padding: 10px;
    color: white;
}

.filmes {
    margin: 0px;
    display: block;
}

.filmes:hover {
    opacity: 0.60;
    transform: scale(1.1);
}

/* Fim container */


/* Rodapé início */


.copyright p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9c0000;
    font-size: 20px;
    width: 100%;
}

.rodape {
    margin-left: 200px;
}

.rodape ul li {
    display: inline;
}

.rodape a {
    text-decoration: none;
    color: #9c0000;
    font-size: x-large;
    margin-left: 30px;
    margin-bottom: 0;
}


/* Rodapé Fim*/


/* Media Queries Para Desktop */
@media screen and (min-width: 501px) {

    .menu{
        display: none;

    }
    header nav {
        margin-left: 250px;
    }

    main section {
        margin-left: 250px;
    }
    .menu li {
        list-style: none;
        margin-left: 10px;
    }
    .menu-icon {
        display: none;
    }
    .icone-user {
        display: none;
    }
}

/* Media Queries para celular */

@media screen and (max-width: 500px) and (min-width: 0px) {
    body{
        width: 100%;
    }

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    body section .container {
        align-items: center;
        text-align: center;
        text-align: justify;
    }
    body section .container img {
        margin: 0 auto;
    }
    header img {
        display: flex;
        float: left;
        align-content: baseline;
    }
    header nav {
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }

    header nav .menu-principal {
        display: none;

    }
    .botbanner{
        display: none;
    }
    main {
        margin: 0px;
    }

    aside {
        display: none;
    }
    .menu{
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        height: 0%;
        overflow: hidden;
        transition: height 0.3s;
        margin: 0px;
    }
    .menu li {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .menu li a {
        text-decoration: none;
        color: #9c0000;
        font-size: x-large;
        display: block;
        width: 100%;
        text-align: center;
    }
    .menu-icon {
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: fixed;
        top: 17px;
        right: 30px;
        line-height: 50px;
        z-index: 999;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
    .user{
        display: none;
        color: white;
        align-content: center;
        
    }
    .menu-user {
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: fixed;
        top: 17px;
        right: 80px;
        line-height: 50px;
        z-index: 998;
    }
    .menu-user i {
        font-size: 1.7em;
    }

    header nav {
        margin-left: 0px;
    }

    footer{
        margin-left: 0px;
        height: 100%;
    }
    .rodape {
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rodape ul li {
        display: block;
        margin-bottom: 10px;
    }
    .rodape a{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #menuToggle:checked+label i:nth-child(2) {
        display: block;
    }
    #menuToggle:checked+label i:first-child {
        display: none;
    }
    #menuToggle:not(:checked)+label i:nth-child(2) {
        display: none;
    }
    #menuToggle:not(:checked)+label i:first-child {
        display: block;
    }
    #menuToggle:checked ~ ul {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9)
    }

    #userToggle:checked+label i:nth-child(2) {
        display: block;
    }
    #userToggle:checked+label i:first-child {
        display: none;
    }
    #userToggle:not(:checked)+label i:nth-child(2) {
        display: none;
    }
    #userToggle:not(:checked)+label i:first-child {
        display: block;
    }

    #userToggle:checked ~ .user {
        display: block;
        height: 100vw;
        background-color: rgba(0, 0, 0, 0)
    }
}